#nav-top {
    background: linear-gradient(to right, rgb(37, 160, 209), rgb(212, 57, 212)); /* Aplica um gradiente de azul para magenta */
    box-shadow: 0px 1px 0px black;
    min-height: 90px;   
}


#color-btn-entrar{
    background-color: rgb(212, 57, 212);
    color: white;
    border-color: white;
    
   
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}