<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <header>

    </header>
    <main>
        <form action="/registro" method="POST">
            <label for="username"></label><input name="username" id="username" type="email" placeholder="Nome se usuário" value="{{request.form['username']}}">
            <label for="password"></label><input name="password" id="password" type="password" placeholder="Senha" value="{{request.form['password']}}">
            <br>
            <input type="submit" value="LOGIN">
        </form>
        <input type="button" value="Cadastrar" id="cadastrar" onclick="window.location.href='/registrar'">
    </main>
    <footer>

    </footer>
</body>

</html>