<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{%block title%}{%endblock%}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="../static/css/style.css" rel="stylesheet">
  <style>
    .redirecionamento:hover{
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
      color: white;
    }
    .user_section{
      display: contents;
    }
    .user_section > img{
      width:60px;
      border-radius: 100%;
    }
    .user_section > a > img{
      width:35px;
    }
    .user_section > p{
      color: white;
      font-weight: bold;
      margin: 0px;
    }
    #form_dev{  
    }
  </style>
</head>
<body>    
    <header>
        <nav  id="nav-top" class="navbar navbar-expand-lg navbar-light bg-light">
        {% block header %}

        {%endblock%}
        </nav>
      </header>
    {%block conteudo%}
    {%endblock%}
  <!-- Rodapé do Site -->
  <footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
      <span class="text-muted">© 2024 Busca Dev. Todos os direitos reservados.</span>
    </div>
  </footer>

  <!-- Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
