{% extends "base.html" %}
{% block title %}Candidatos{% endblock %}
{% block header%}
<div class="container">
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link fs-4 redirecionamento" href="{{url_for('index')}}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link fs-4 redirecionamento" href="{{url_for('dashboard')}}">Meu Perfil</a>
        </li>
      </ul>
    </div>
    {% if _session %} <!-- Se o usuário estiver logado mostra codigo abaixo -->
    <div class="user_section"><img src="../static/img/papagaio.png"> <p class="fs-4">Olá {{_session}}!</p><a href="/LogOut"><img src="../static/img/conecte-se.png"></a></div>
    {% else %} <!-- Senão mostra botão de logar -->
      <a href="{{url_for('loginScreen')}}"><button id="color-btn-entrar" class="btn btn-outline-success" type="button">Entrar</button></a>
    {%endif%}
  </div>
{% endblock %}
{%block conteudo%}
<div class="container">
    <div class="row" style="margin-top: 50px;">
      <div class="col-md-12">
          <h1 class="text-center"> {{vaga_[0]}}</h1>
          <textarea disabled rows="8" style="width: 100%;">{{vaga_[1]}}</textarea>
      </div>
      <hr class="border border-primary border-3 opacity-75">
    </div>
    <h3> CANDIDATOS:</h3>
    {%for i in candidatos%}
        <div style="margin-top: 20px;" class="row">
            <div class="col-md-12 candidato-area">
              <div class="row">
                <div class="col-md-10">
                  <h2>{{i[0]}}</h2>                  
                  <hr>
                  <p>{{i[1]}}</p>
                </div>
                <div class="col-md-2 contato">
                  <h2 class="contato-text">Contato:</h2>
                  <hr class="">
                  <h4 class="contato-text"> tel:<div class="value">{{i[2]}}</div></h4>
                  <h4 class="contato-text"> email:<div class="value">{{i[3]}}</div></h4>
                </div>
              </div>
            </div>
        </div>        
    {%endfor%}
</div>
{%endblock%}