{% extends "base.html" %}
{% block title %}BuscaDev{% endblock %}

{%block header%}
  {% if session_ %}
  <div class="container">
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link fs-4 redirecionamento" href="#">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-4 redirecionamento" href="#">Contato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-4 redirecionamento" href="{{url_for('dashboard')}}">Meu perfil</a>
        </li>        
      </ul>
    </div>
    <div class="user_section"><img src="../static/img/papagaio.png"> <p class="fs-4">Olá {{session_['login']}}!</p><a href="/LogOut"><img src="../static/img/conecte-se.png"></a></div>
    {%else%}
    <div class="container">
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link fs-4 redirecionamento" href="#">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-4 redirecionamento" href="#">Contato</a>
          </li>
        </ul>
      </div>
      <a href="{{url_for('loginScreen')}}"><button id="color-btn-entrar" class="btn btn-outline-success" type="button">Entrar</button></a>
      {%endif%}  
  </div>
{%endblock%}

{% block conteudo %}
<!-- Cabeçalho do Site -->
  <!-- Corpo do Site -->
  <main>
    <section class="py-5 text-center">
      <div class="container">
        <h1 class="display-4 fw-bold">Encontre seu próximo emprego de desenvolvedor</h1>
        <p class="lead">Explore milhares de vagas de emprego para desenvolvedores de software em todo o mundo.</p>
        <form>
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Buscar vagas">
            <button class="btn btn-primary" type="button">Buscar</button>
          </div>
        </form>
      </div>
    </section>
    <div class="container-sm">
      {% with mensagens =  get_flashed_messages() %}      
        {% for msg in mensagens %}
          {%if msg[0] == 1%}
          <div class="alert alert-success fs-3 text-center" role="alert">
            {{msg[1]}}
          </div>
          {%else%}
          <div class="alert alert-info fs-3 text-center" role="alert">
            {{msg[1]}}
          </div>
          {%endif%}
        {% endfor %}
      {% endwith %}
    </div>
    <section class="container">
      <div class="row">
        <!-- Exemplo de card de vaga -->
        {%for i in cards_ %}
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">{{i[2]}}</h5>
                <h6 class="text-end fs-5 fw-bold" style="color: red;">{{i[1]}}</h2>
                <p class="card-text">{{i[3]}}</p>
                {%if session_ and session_['user_mode'] != 'Dev'%}
                  <a href="/minhasVagas" class="btn btn-primary">Ver Inscritos</a>
                {%else%}
                  <a href="/candidatarse/{{i[0]}}" class="btn btn-primary">Se candidatar</a>
                {%endif%}
                </div>
            </div>
          </div>
        {%endfor%}

        <!-- Outros cards de vagas -->
        <!-- Coloque mais cards de vagas aqui -->
      </div>
    </section>
  </main>
{%endblock%}